@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Oxygen:wght@300;400;700&family=Zen+Old+Mincho&display=swap');


body{
    /* font-family: 'Mochiy Pop P One', sans-serif; */
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Zen Old Mincho', serif; */
}