.ProfilePicture {
    border-radius: 100%;
    width: 300px;
    height: 350px;
    border: 1px solid black;
}

.InfoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}
