.AboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 110vh;
  width: 100%;
  background: url('https://th.bing.com/th/id/R.4b1ee8fef19b67c6455f5a64aac35662?rik=Cir%2fCKftwKrseQ&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-size: cover;
}

.MyInfoContainer {
    background-color: #262629be;
    border-radius: 1rem;
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    position: relative;
    backdrop-filter: blur(5px);
}
